.App {
  text-align: center;
}

.gameContainer {
  width: 900px;
  height: 700px;
  border: 1px solid grey;
  margin: auto;
}

.chessBoard {
  width: 700px;
  height: 700px;
  padding: 70px 0 0 100px;
}

.blackSquare, .whiteSquare {
  width: 64px;
  height: 64px;
}

.blackSquare {
  background: #B58863;
}

.whiteSquare {
  background: #F0D9B5;
}

div[class^="board-row"] {
  display: flex;
}

.piecePicture {
  width: 60px;
  height: 60px;
}